.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}